main {
  padding: 1.6rem;
}

li,
.ad {
  text-align: center;
  list-style-type: none;
  border: 1px dashed black;
  padding: 1rem;
  margin: 1rem;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
