/* This style file is included third */
/* https://www.idiomsandslang.com/wp-content/uploads/2015/09/He-Who-Laughs-Last-Laughs-Best-1.jpg */

p {
  color: purple;
  font-size: small;
}

p {
  font-size: xxx-large;
}
