/* Styles for login form */
form {
  width: 20rem;
  margin: auto;
}

input,
button {
  width: 20rem;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
}

/* Elements with this class are intended for screen-readers only */
.sr-only {
  display: none;
}
