/* Styles for the main section */

main {
  transition-duration: 0.5s;
}

main.light {
  background-color: white;
  color: black;
}

main.dark {
  background-color: #333;
  color: white;
}

.loading {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  height: 80rem;
}
