/* Don't change this file! */
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-size: 2rem;
}

.card {
  width: 25rem;
  height: 40rem;
  margin: 4rem 2rem;
  border: 1px dashed darkgray;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 1rem 0 lightgray;
  transition: 0.2s;
}

.highlighted {
  box-shadow: 0 0 2rem 1rem rgba(200, 200, 200, 0.75);
}

.card-description {
  margin: 1rem 2rem;
}

.card:hover {
  margin-top: 3rem;
  box-shadow: 0 0 3rem 1rem rgba(117, 143, 129, 0.75);
}

img {
  /* We set display:block for the images to avoid a space right
      after the image */
  display: block;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: auto;
  justify-items: center;
}

body {
  min-width: 40rem;
}
